.custom-header {
    background-color: #494949; /* Grey color */
}
body {
    background-image: url('images/rajagiri.jpeg'); /* Assuming the image is in an 'images' folder */
    background-size: cover; /* Adjusts the background image size */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}
.white-text {
    color: rgb(3, 8, 31); /* Set text color to white */
}
